.phone{
	animation: phone .9s ease-in-out infinite;
}
@keyframes phone {
	0%, 100% {
		transform: rotate(-20deg);
	}
	50% {
		transform: rotate(21deg);
	}
}
.icon{
	font-size: 12px;
	position: relative;
	float:left;
	left: 8px;
	top: 1px;
}
.delivery{
position:absolute;
right: 15px;
top: 15px;
font-size: 12px;
}
.stocks{
	position: absolute;
	font-size: 12px;
	right: 28px;
}
.phone{
	font-size: 12px;
	position: absolute;
	left: 18px;
	top: 14px;
}
.div1 .figure {
    position: relative;
}
.div1 .figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.div1 .figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.sdvig{
	position: absolute;
	width: 100%;
	bottom: 0px;
    z-index: 1;
}
.konec{
	text-align: center;
	font-size: 8px;
	font-weight: 300;
	margin-top: 0px;
}
.line{
	border: 1px dotted silver;
	margin-top:20px;
}
.bigline{
	margin-top: 0px;
	border: 1px solid black;
	margin-bottom: 20px;
}
.R{
	padding-left: 0;
	vertical-align: middle;
    bottom: 180px;
    left: 265px;	
	position:relative;
	width: 140px;
	height: 100px;
}
.Z{
	padding-left:100px;
	vertical-align: middle;
    bottom: 78px; 
	position:relative;
	width: 200px;
	left: 20px;
	height: 100px;
}
.E{
	vertical-align: middle;
	float: top;
	position:relative;
	left: 190px;	
	width: 100px;
	height: 40px;
	bottom: 50px;
	display: table-cell;
}
.Q{
	vertical-align: middle;
	text-align:center;
	float: top; 
	position:relative;
	right: 250px;
}
.qwerty3{
	margin-top: 0em;
	margin-bottom: 0em; 
	font-size: 20px;
	font-family: gabriola;
    font-weight: 900;
    color: black;
   	
}
.W{
	font-size: 20px;
	font-family: segoe script;	
	text-align: center;
}
.lin{
	border:1px dotted silver;
	margin-top: 4px;
}
.image-center{
	display: block;
	margin: auto;
	border-top: 3px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	height: 500px;
}
.image-center2{
	display: block;
	margin-top: auto;
	border-top: 3px solid black;
	border-bottom: 2px solid black;
	width: 100%;
	height: 400px;
}
.otstup{
	margin-top:-40px;
	position: relative;
	vertical-align: middle;
	text-align: center;
}
.hr{
	border: 1px dotted silver;
	margin-bottom: 4px;	
}
h1{
	font-family: "Courier New", monospace; 
	font-size: 30px;
	text-shadow: 3px 2px 3px;
	letter-spacing: 4px;
	font-weight: bold;
	font-weight: normal;
	margin-top: -3px;
	font-weight: 400;
}
.div1{                    
	position: relative;
	text-align: center;
	top: -20px;
}
.div2{
	position: absolute;
	color: black;
	font-size: 10px;
	top: 170px; 
	right:340px;
	opacity: 0.6;
	font-family: segoe script;	
	background-color: white;
	padding-left: 30px;
	padding-right: 30px;
	width: 220px;
	height: 140px; 
}
.div3{
	position: absolute;
	color: black;
	font-size: 30px;
	top: 20px; 
	right:60px;
	font-family: gabriola;	
	padding-left: 30px;
	padding-right: 30px;
	width: 350px;
	height: 100px;
	color: white;
	height: 400px;
}
.div4{
 border-left: 1px dotted silver;
 border-right: 1px dotted silver;
 padding-left: px; 
 padding-right: px;
}
.qwerty1{
	font-size: 12px;
	font-family:  gabriola;
}
.qwerty2{
	font-size: 16px;
	font-family:  gabriola;
	opacity: 0.7;
	font-weight: 100;
}
.slka{
	color: white;
	font-size: 16px;
	opacity: 0.9;
	text-decoration: underline;
	font-weight: normal;
	bottom:75px;
	text-align: center;
}
.hr2{
	border: 1px dotted silver;
	margin-bottom: 10px;
}
.dws-menu{
	margin: 0;
	padding: 0;
}
.dws-menu ul{
	list-style: none;
}
.dws-menu > ul{
	display: flex;
	justify-content: center;
	
}
.dws-menu > ul li a{
	display: block;
	padding-top: 10px;
	padding-right:30px;
	padding-left: 30px;
	padding-bottom: 10px;
}
header{
	margin-top: 20px;
} 
.B{
	font-size: 14px;
	text-transform: uppercase;
	padding: 4px;
	color: black;
	width: 80px;
	text-align: center;
	font-weight: normal;
	font-weight: 900;
	letter-spacing:1px;
}
.linenone{
	text-decoration: none;
}
.B2{
    background: white;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
	padding: 1px;	
	border: 2px solid black;
	display:inline-block;
}
.dws-menu > ul li{
 position: relative;	
}
.B:hover{
	color: gray; 
	transition: all 0.3s ease;
}
article:after{
	content: \2026;
}
#content{
	margin-top: -12px;
}
#content:before{
  content: "";
  display: inline-block;
  height: 10px;
  width: 100%;
 background: repeating-linear-gradient(150deg, black 1px, black 1px, #FFE4B5 10px, #FFE4B5 1px);
}
#background-color{
	background: url(https://st2.depositphotos.com/5817452/10745/v/950/depositphotos_107450710-stock-illustration-seamless-pattern-with-doodle-bakery.jpg);
	max-width: 1000px;
	max-height: 2000px;
	margin: auto;
    position: relative;
}	
.foto2 {
	position: relative;
    width: 220px;
	height: 220px;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	top: 40px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1.5s ease-in-out;
}
.foto2:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.foto{
	left: 580px;
	position: absolute;
	bottom: 135px;
	height: 300px;
	cursor: pointer;
	width: 300px;
	z-index: 2;
}
.foto:focus {
	width: 400px;
	height: 400px;
}
.circle{
	position: relative;
    width: 115px;
    height: 115px;
    background: white;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    top: -125px;
	left: 74px;
	justify-content: center;
	display: flex;
	opacity: 0.8;
}
.bordercircle{
	position:relative;
	border: 1px dotted gray;
	width: 105px;
    height: 105px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
	top: 4px;
	left: 0px;
	justify-content: center;
	display: flex;
}
.none{
	position: relative;
	list-style-type:none;
	display: flex;
	justify-content: center;
}
.rep{
	text-align: center;
	font-family: segoe script;
	position: absolute;
	top: 23px;
	font-weight: 520;
	font-size: 16px;
}
.rep:hover{
	background-color: black;
	color: white;
	font-weight:900;
}
.bordercircle:hover{
	background-color: black;
	color: white;
	transition: all 0.5s ease;
}
.circle:hover{
	background-color: yellow;
	transition: all 1.5s ease;
}
.widthline{
	position:absolute;
	width: 30px;
	height: 0px;
	top: 60px;
	height: 2px;
	border: none;
	background: black;
	color: dark blue;
}
.but{
	position: relative;
	bottom:220px;
	color: gray;
	font-size: 20px;
	font-weight: 200;
	float: left;
	right: 0px;
	height: 10px;
}
.dws-menu2 > ul li{
 position: relative;	
}
.dws-menu2{
	margin: 0;
	padding: 0;
}
.dws-menu2 ul{
	list-style: none;
}
.dws-menu2 > ul{
	display: flex;
	justify-content: center;
}
.dws-menu2 > ul li a{
	display: block;
	padding-top: 40px;
	padding-right:0px;
	padding-left: 55px;
	padding-bottom: 0px;
}	
.B2:hover{
	background: #454547;
	color: #ffffff; 
}